*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      height: calc(100vh - 60px);
      background-color: black;
  }

  main{
    padding: 35px;
  }

  .tab-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .img-container{
      width: calc((100% / 7) - 5px);
      background-image: url("../images/random-pic.jpg ");
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
  }

    footer{
        background-color: grey;
        height: 60px;
        bottom: 0px;
        line-height: 60px;
        position: fixed;
        z-index: 666;
        width: 100%;
        padding: 0px;
  } 
