*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      height: 90vh;
      background-color: black;
  }

  main{
    padding: 35px;
  }

  .tab-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .img-container{
      width: calc((100% / 7) - 5px);
      background-image: url("../images/random-pic.jpg ");
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
  }

  .acc-name{
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: white;
  }

  .grey{
    background-color: rgba(13, 175, 62, 0.5);
  }

    footer{
        background-color: grey;
        height: 10vh;
        bottom: 0px;
        line-height: 60px;
        position: fixed;
        z-index: 666;
        width: 100%;
        padding: 0px;
  } 

