*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      height: calc(100vh - 30px);
      background-color: black;
  }

  /* footer{
      height: 30px;
      background-color: grey;
  } */

  .tab-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .img-container{
      width: calc(100% / 7);
      background-image: url("768-200x200.jpg");
      border: 1px solid red;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }